{shell,
    [
        {apps, [cellphone]},
        {config, "conf/sys.config"}
    ]
}.

{deps, [
        {cowboy, "2.3.0"}, % package
        {cowboy, {git, "git://github.com/ninenines/cowboy.git", {tag, "2.3.0"}}} % alternatively, source
        ]
}.

{relx, [
    {release, {cellphone, "0.1.0"}, [cellphone]},
    {dev_mode, true},
    {include_erts, false},
    {include_src, false},
    {extended_start_script, true}
]}.

{profiles, [
    {prod, [
        {relx, [
            {dev_mode, false},
            {include_erts, false}
        ]}
    ]}
]}.
