{shell, [
        {apps, [cellphone]},
        {setcookie, "yxf1993"},
        {config, "./src/conf/sys.config"}
    ]}.

{deps, [
        {cowboy, {git, "git://github.com/ninenines/cowboy.git", {tag, "2.4.0"}}},
        {gpb, {git, "https://github.com/tomas-abrahamsson/gpb.git", {tag, "4.4.0"}}}
]}.


{erl_opts, [
    debug_info,
    {i, "./_build/default/lib/gpb/include"},
    {i, "./_build/default/lib/cellphone/src/include"}
]}.

{relx, [
    {release, {cellphone, "0.1.0"}, [cellphone]},
    {dev_mode, true},
    {include_erts, false},
    {extended_start_script, true},
    {incl_cond, include},
    {vm_args, "conf/vm.args"},
    {sys_config, "conf/sys.config"},
    {overlay, [{mkdir, "cellphone_data"}]}
]}.

{profiles, [
    {prod, [
        {relx, [
            {dev_mode, false},
            {include_erts, false}
        ]}
    ]}
]}.

{pre_hooks,
    [
        {compile, "mkdir -p src/include"},
        {compile,
        " ./_build/default/lib/gpb/bin/protoc-erl -I ./src/proto "
        " -o-erl ./src/proto -o-hrl ./src/include ./src/proto/*.proto "
        }
    ]
}.

{post_hooks,
    [
        {clean,
        "bash -c 'for f in src/proto/*.proto; "
        "do "
        " rm -f src/proto/$(basename $f .proto).erl; "
        " rm -f src/include/$(basename $f .proto).hrl; "
        " done'"
        }
    ]
}.
