{shell, [
        debug_info,
        {i, "./_build/default/lib/cellphone/src/include"},
        {i, "./_build/default/lib/cp_robot/src/"}
    ]}.

{deps, [
        {cowboy, {git, "git://github.com/ninenines/cowboy.git", {tag, "2.5.0"}}},
        {gpb, {git, "https://github.com/tomas-abrahamsson/gpb.git", {tag, "4.4.0"}}},
        {lager, {git, "https://github.com/erlang-lager/lager.git", {tag, "3.6.6"}}}
]}.


{erl_opts, [
    {parse_transform, lager_transform},
    no_debug_info,
    {i, "./_build/default/lib/gpb/include"},
    {i, "./_build/default/lib/cellphone/src/include"}
]}.

{relx, [
    {release, 
        {cellphone, "0.1.0"},
        [mnesia, cellphone],
        [
            {sys_config, "./config/sys.config"},
            {vm_args, "./config/vm.args"},
            {dev_mode, true},
            {include_erts, false},
            {extended_start_script, true},
            {overlay, [{mkdir, "cellphone_data"}]}
        ]
    },
    {release,
        {cp_robot, "0.1.0"},
        [cp_robot],
        [
            {dev_mode, true},
            {include_erts, false},
            {extended_start_script, true}
        ]
    }
]}.

% 所有启动的节点通用的配置
{dist_node, [
    {name, 'cellphone@127.0.0.1'},
    {setcookie, cellphone_cookie},
    {i, "./_build/default/lib/gpb/include"},
    {i, "./_build/default/lib/cellphone/src/include"}
]}.

{profiles, [
    {prod, [
        {relx, [
            {dev_mode, false},
            {include_erts, false}
        ]}
    ]}
]}.

{pre_hooks,
    [
        {compile, "mkdir -p apps/cellphone/src/include"},
        {compile,
        " ./_build/default/lib/gpb/bin/protoc-erl -I ./apps/cellphone/src/proto "
        " -o-erl ./apps/cellphone/src/proto -o-hrl ./apps/cellphone/src/include ./apps/cellphone/src/proto/*.proto "
        }
    ]
}.

{post_hooks,
    [
        {clean,
        "bash -c 'for f in apps/cellphone/src/proto/*.proto; "
        "do "
        " rm -f apps/cellphone/src/proto/$(basename $f .proto).erl; "
        " rm -f apps/cellphone/src/include/$(basename $f .proto).hrl; "
        " done'"
        }
    ]
}.
