[
    {mnesia,
        [
            {dir, "./cellphone_data"}
        ]
    },

    {lager, [
        {log_root, "./logs"},
        {crash_log, "./logs/crash.log"},
        {handlers, [
            {lager_console_backend, [
                {level, info}, 
                {formatter, lager_default_formatter},
                {formatter_config, [time, " [", severity, "] ", message, "\n"]}
                ]},
            {lager_file_backend, [
                {file, "error.log"}, 
                {level, error},
                {formatter, lager_default_formatter},
                {formatter_config, [date, " ", time, " [", severity, "] ", pid, message, "\n"]}
                ]},
            {lager_file_backend, [
                {file, "console.log"}, 
                {level, info}
                ]}
        ]}
    ]}
].
