%[
%    {mneisa,
%        [
%        {dir, "/cellphone_data"}
%        ]
%    }
%].

% [{sasl, [
%             {sasl_error_logger, false}
%             %{sasl_error_logger, {file, "/data/cellphone/src/log/logs.log"}}
%             %{errlog_type, error}
%             %{error_logger_mf_dir, "./src/log"}, % 滚动日志目录
%             %{error_logger_mf_maxbytes, 10485760}, % 最大字节数10M
%             %{error_logger_mf_max_files, 10} % 最大文件数量
%         ]}].
 [{sasl, [ 
         %% minimise shell error logging 
         {sasl_error_logger, false}, 
         %% only report errors 
         {errlog_type, error}, 
         %% define the parameters of the rotating log 
         %% the log file directory 
         {error_logger_mf_dir,".src/log"}, 
         %% # bytes per logfile 
         {error_logger_mf_maxbytes,10485760}, % 10 MB 
         %% maximum number of 
         {error_logger_mf_maxfiles, 10} 
        ]}]. 
